<table>
  <thead>
    <tr>
      <th><%=link_to "Team Name", db_views_teamSort_path %></th>
      <th><%=link_to "City", db_views_citySort_path %> </th>
      <th><%=link_to "Stadium", db_views_stadiumSort_path %></th>
      <th><%=link_to "League", db_views_leagueSort_path %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sports_teams.each do |sports_team| %>
      <tr>
        <td><%= sports_team.teamName %></td>
        <td><%= sports_team.city %></td>
        <td><%= sports_team.stadium %></td>
        <td><%= sports_team.league %></td>
        <td><%= link_to 'Show', sports_team %></td>
        <td><%= link_to 'Edit', edit_sports_team_path(sports_team) %></td>
        <td><%= link_to 'Destroy', sports_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>