<p> <h1>Search</h1> </p>
<%= form_tag :action => 'search' do %>
<p>What data point are you looking for?:
<%= text_field_tag 'hoorayForSearch', @mysearch %> </p>
<br/>
<% if @results > 0 %>
    <% if @teams.length >0 %>
        <p> Here are the search results:</p>
        <p>
        <table>
            <tr>
                <th>Team Name</th>
                <th>City</th>
                <th>Stadium</th>
            </tr>
            <% @teams.each do |d| %>
            <tr>
                <td><%= d.teamName%></td>
                <td><%= d.city%></td>
                <td><%= d.stadium%></td>
            </tr>
            <% end %>
        </table>
    <% else%>
        <p>There were no data points with your search criteria. Try again!</p>
    <% end %>
<% end %>
<%= submit_tag 'Search' %>
<% end %>